<!DOCTYPE html>
<html ng-app="parking">
  <head>
    <meta charset="utf-8">
    <title>Parki-ng</title>
    <link rel="stylesheet" href="styles.css" charset="utf-8">
  </head>
  <body ng-controller="parkingCtrl">
    <h3 ng-bind="appTitle"></h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Plate</th>
          <th>Color</th>
          <th>Date Parked</th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-class="{selected: car.selected}"
          ng-repeat="car in cars">
          <td><input type="checkbox" ng-model="car.selected"/></td>
          <td><span ng-bind="car.plate"></span></td>
          <td><span ng-bind="car.color" ng-style="{color: car.color}"></span></td>
          <td><span ng-bind="car.dateParked||'unknown'"><span></td>
        </tr>
      </tbody>
    </table>
    <input type="text"
      ng-model="car.plate"
      placeholder="What's the license plate number?"/>
    <select ng-model="car.color" ng-options="color for color in colors">
      Pick a color
    </select>
    <button ng-click="park(car)" ng-disabled="!car.plate || !car.color">Park</button>
  </body>
  <script src="bundle.js" charset="utf-8"></script>
</html>
