<!DOCTYPE html>
<html ng-app="parking">
  <head>
    <meta charset="utf-8">
    <title>Parki-ng</title>
    <link rel="stylesheet" href="styles.css" charset="utf-8">
  </head>
  <body ng-controller="parkingCtrl">
    <h3 ng-bind="appTitle"></h3>
    <div
      ng-if="cars.length > 0"
      ng-include="'table.html'"
    ></div>
    <div ng-if="cars.length <= 0">
      The parking lot is empty
    </div>
    <input type="text"
      ng-model="car.plate"
      placeholder="What's the license plate number?"/>
    <select ng-model="car.color" ng-options="color for color in colors">
      Pick a color
    </select>
    <button ng-click="park(car)" ng-disabled="!car.plate || !car.color">Park</button>
  </body>
  <script src="bundle.js" charset="utf-8"></script>
</html>
