<!DOCTYPE html>
<html ng-app="parking">
  <head>
    <meta charset="utf-8">
    <title>Parking</title>
  </head>
  <body ng-controller="parkingCtrl">
    <h3>Parki-ng</h3>
    <table>
      <thead>
        <tr>
          <th>
            Plate
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="car in cars">
          <td>
            {{car.plate}}:
          </td>
          <td>
            {{car.dateParked || "date unknown"}}
          </td>
        </tr>
      </tbody>
    </table>
    <input type="text" ng-model="car.plate" />
    <button ng-click="park(car)">Park</button>
  </body>
  <script src="bundle.js" charset="utf-8"></script>
</html>
