* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

td {
  border: 1px solid #AAA;
  border-collapse: collapse;
}

.selected {
  background-color: #DDD;
}

.alert {
  color: red;
  background-color: pink;
  border: 1px solid black;
  padding: 0.5em;
  margin-bottom: 1em;
}

.alert-topic,
.alert-description {
  display: block;
}

.alert-description {
  font-family: monospace;
}
